.LandingPage {
    background-color: #F2AB6D;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 15px;
    color: white;
}

.Landing_list {
    list-style-type: none;
    padding-left: 0px;
    padding-right: 0px;
    margin: 10px;
    padding-bottom: 5px;
    text-align: left;
    font-size: 20px;
}

.Landing_Link {
    color: #4A608C;
    font-size: 25px;
    text-decoration: none;
}

.Landing_Link:hover {
    color: #BF612A;
}

.GetStarted {
    text-align: left;
    margin-left: 10px;
}

@media only screen and (min-device-width: 768px) {
    .LandingPage {
        width: 600px;
        margin-right: auto;
        margin-left: auto;
    }
    .Landing_list {
        padding-left: 25px;
    }
}

@media screen and (min-device-width: 1200px) {
    .LandingPage {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .Landing_list {
        padding-left: 40px;
    }
}