.ViewCurrentProjects_list {
    color: black;
    list-style-type: none;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0;
}

.ViewProjects_select {
    margin-top: 0;
    margin-bottom: 15px;
    display: flex;
}

.ViewProjectType_link {
    color: white;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid white;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #F2AB6D;
    height: 40px;
    width: 100%;
}

.ViewProjectType_link:hover, .ViewProjectType_link.active {
    background-color: #587AA6;
}

.AddProject_link {
    color: #BF612A;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
}

.ViewCurrentProjects_header {
    border: 5px #6B98BF solid;
    width: 335px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}

.ViewCurrentProjects_project-link {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.ViewCurrentProjects_project-link:hover {
    color: #F2AB6D;
}

.ViewCurrentProjects_project {
    border-bottom: 5px #587AA6 solid;
}