.AddEstimate_heading {
    color: black;
    font-size: 20px;
}

.AddEstimate_form {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 20px;
}

.AddEstimatePage_form {
    margin-bottom: 10px;
}

.AddEstimate_buttons {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.AddEstimate_commands {
    width: 125px;
    height: 30px;
    color: white;
    font-size: 15px;
    background-color: #4681A6;
    font-family: 'Cairo', sans-serif;
    border: none;
}

select {
    font-family: 'Cairo', sans-serif;
    height: 24px;
}