.ProjectItem {
    margin-left: 10px;
    margin-right: 10px;
}

@media only screen and (min-device-width: 768px) {
    .ProjectItem {
        width: 600px;
        margin-right: auto;
        margin-left: auto;
    }
    .Project_Link {
        margin-right: 20px;
    }
}

@media screen and (min-device-width: 1200px) {
    .ProjectItem {
        width: 1000px;
        margin-right: auto;
        margin-left: auto;
    }
    .Project_Link {
        margin-right: 20px;
    }
}